* {
    margin: 0px;
    padding: 0px;
}

:root {
    --navbar-height: 59px;
}
body{
    background-color: rgb(238, 238, 238);
}
#bg{
    position: absolute;
    height: 2650px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
.logo h1 {
    font-family: 'Trirong', serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 83px;
    color: lightsteelblue;
}

#navbar {
    display: flex;
    align-items:center;
    position: relative;
    top: 0px;
    height: 95px;
}

#navbar::before {
    content: "";
    
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;

}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 15px 50px;
    font-size: 17px;
    font-family: 'Rubik Wet Paint', cursive;
}

#navbar ul li a {
    display: block;
    color: black;
    font-family: 'Trirong', serif;
    padding: 23px;
    font-weight: 800px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: white;
    border-radius: 23px;

}
.right{
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 11px;
}
.sin {
    background-color: whitesmoke;
    color: brown;
    border-radius: 20px;
    padding: 4px 31px;
    margin: 19px 8px;
    border: none;
    cursor: pointer;
    outline: no;
    text-decoration: none;
    color: brown;
    font-weight: bold; 
    font-size: 15px;
}

.sin:hover{
    color: black;
}

.main{
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    height: 400px;
    margin-top: 35px;
    
}
.main img{
    position: absolute;
    left: 810px;
    width: 420px;
    height: 350px;
    
}
.btn {
    display:inline-block;
    position: absolute;
    word-wrap: unset;
    top: 390px;
    left: 370px;
    color: darkred;
    background-color: whitesmoke;
    padding: 6px 42px;
    margin: 5px 45px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.but {
    display:inline-block;
    position: absolute;
    word-wrap: unset;
    top: 440px;
    left: 370px;
    color: brown;
    background-color: whitesmoke;
    padding: 6px 31px;
    margin: 5px 45px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.main h1{
    width: 500px;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    

}
.main p{
    display: inline-block;
    position: absolute;
    font-size: 15px;
    top: 320px;
    left: 470px;
    font-family: 'Raleway', sans-serif;
}
.popup{
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.popup-content{
    height: 450px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;

}
.popup-content img{
    position: relative;
    height: 95px;
    width: 95px;
    top: 25px;
    left: 180px;
}
input{
    margin: 20px;
    display: block;
    width: 250px;
    padding: 6px;
    position: relative;
    top: 50px;
    left: 90px;
    border: 2px solid grey;

}
.lgn {
    display:inline-block;
    position: absolute;
    word-wrap: unset;
    top: 290px;
    left: 190px;
    color: brown;
    background-color: gold;
    padding: 8px 40px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    box-shadow: 6px 6px 29px -4px black;
}
.lgn a{
    text-decoration: none;
    color: brown;   
}
.sgn {
    display:inline-block;
    position: absolute;
    word-wrap: unset;
    color: white;
    background-color: gold;
    top: 400px;
    padding: 8px 40px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    box-shadow: 6px 6px 29px -4px black;
}
.sgn a{
    text-decoration: none;
    color: brown;   
}
.forg a{
    
    color: black;

}
.forg{
    display: inline-block;
    position: absolute;
    top: 350px;
    left: 300px;
}
.not{
    display: inline-block;
    position: absolute;
    top: 375px;
    left: 35px;
}
.popup-content .cancel{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: relative;
    top: -255px;
    left: 510px;
    cursor: pointer;
}
.user-popup{
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: right;
    align-items: center;

}
.user-popup-content{
    height: 670px;
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    
}
.user-popup-content img{
    height: 43px;
    width: 43px;
    border-radius: 100%;
    position: relative;
    left: -18px;
    top: -18px;
    cursor: pointer;
}
.please{
    position: relative;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    top:-52px;
    left: 75px;

}
.user-form{
    margin: 20px;
    display: block;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    top: -10px;
    left: 0px;
}
.user-but {
    display:inline-block;
    position: absolute;
    word-wrap: unset;
    top: 640px;
    left: 90px;
    color: white;
    background-color: gold;
    padding: 6px 31px;
    margin: 5px 45px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    box-shadow: 6px 6px 29px -4px black;
}
.user-but a{
    text-decoration: none;
    color: brown;
    font-weight: bold;
}
.check{
    position: relative;
    left: -120px;
    
}
.accept{
    position: relative;
    top: -47px;
    left: 50px;
}
.worker-popup{
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: right;
    align-items: center;
}
.worker-popup-content{
    height: 670px;
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    
}
.worker-popup-content img{
    height: 43px;
    width: 43px;
    border-radius: 100%;
    position: relative;
    left: -18px;
    top: -18px;
    cursor: pointer;
}
.worker-form{
    margin: 20px;
    display: block;
    width: 250px;
    padding: 13px;
    border-radius: 10px;
    position: relative;
    top: -10px;
    left: 0px;
}
.check2{
    position: relative;
    left: -120px;
    
}
.acc{
    position: relative;
    top: -47px;
    left: 50px;
}
.worker-but {
    display:inline-block;
    position: absolute;
    word-wrap: unset;
    top: 650px;
    left: 85px;
    color: white;
    background-color: gold;
    padding: 6px 31px;
    margin: 5px 45px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    box-shadow: 6px 6px 29px -4px black;
}
.worker-but a{
    text-decoration: none;
    color: brown;
    font-weight: bold;
}





.second{
    background-color: rgb(225, 225, 225);
    display: flex;
    margin-left: 375px;
    margin-right: 375px;
    height: 300px;
    margin-top: 35px;
    border-radius: 10px;
    }
.third{
    background-color: white;
    display: flex;
    position: absolute;
    top: 560px;
    width: 54%;
    margin-left: 350px;
    margin-right: 350px;
}
.get {
    display:inline-block;
    position: absolute;
    word-wrap: unset;
    top: 200px;
    left: 60px;
    color: white;
    background-color: gold;
    padding: 6px 31px;
    margin: 5px 45px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.third h1{
    position: absolute;
    left: 25px;
    top: 15px;
    width: 450px;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
.third p {
    display: inline-block;
    position: relative;
    font-size: 15px;
    top: 123px;
    left: 47px;
    right: 450px;
    font-family: 'Inter', sans-serif;
}
.third img{
    display: inline-block;
    position: relative;
    left: 180px;
}
.forth{
    display: flex;
    margin-left: 250px;
    margin-right: 450px;
    height: 400px;
    margin-top: 65px;
}
.work {
    display:inline-block;
    position: absolute;
    word-wrap: unset;
    top: 1190px;
    left: 790px;
    color: white;
    background-color: whitesmoke;
    padding: 6px 31px;
    margin: 5px 45px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.forth h6{
    position: absolute;
    left: 735px;
    top: 900px;
    width: 450px;
}
.forth h1{
    position: absolute;
    font-size: 30px;
    left: 735px;
    top: 929px;
    width: 450px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.forth p{
    position: absolute;
    left: 735px;
    top: 1030px;
    width: 450px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.fifth{
    display: flex;
    position: relative;
    top: 90px;
    margin-left: 220px;
    margin-right: 220px;
    height: 300px;
    width: 1000px;
    
}
.fifth img{
    
    width: 100%;
}
.sixth{
    display: flex;
    position: relative;
    margin-left: 280px;
    margin-right: 350px;
    height: 400px;
    top: 190px;
    margin-top: 25px;
    background-color: white;
}
.graph{
    position: absolute;
    top: 0px;
    left: 80px;
    width: 280px;
    height: 170px;
    opacity: 0.9;   
}
.sixth h1{
    position: absolute;
    top: 210px;
    font-size: 30px;
    width: 400px;
    left: 90px;
    font-family: 'Poppins', sans-serif;
}
.sign {
    display:inline-block;
    position: absolute;
    word-wrap: unset;
    top: 350px;
    left: 80px;
    color: white;
    background-color: gold;
    padding: 6px 31px;
    margin: 5px 45px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.sixth p{
    position: absolute;
    top: 310px;
    left: 130px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
.step{
    position: absolute;
    left: 480px;
    height: 400px;
}
footer{
    position: absolute;
    top: 2400px;
    height: 150px;
    width: 100%;
}
.foot a{
    text-decoration: none;
    color: black;
}
.foot a:hover{
    color: white;
}
.end{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    position: relative;
    width: 50%;
    top: -10px;
    left: 540px;
    font-family: 'Inter', sans-serif;
}
.foot{
    height: 50px;
    width: 130px;
    margin: 10px;
}
.sin a{
    text-decoration: none;
    color: brown;
    font-weight: bold; 
    font-size: 15px;  
    padding: 15px 7px;
    margin: 0px 0px;
}
.btn a{
    text-decoration: none;
    color: darkred;
    font-weight: bold;   
}
.but a{
    text-decoration: none;
    color: darkred;
    font-weight: bold;   
}
.work a{
    text-decoration: none;
    color: darkred;
    font-weight: bold;   
}
.get a{
    text-decoration: none;
    color: darkgreen; 
    font-weight: bold;  
}
.sign a{
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;   
}
.titl{
    display: inline-block;
    position: relative;
    top: 100px;
    left: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500; 
}
.copy{
    display: inline-block;
    position: relative;
    top: 170px;
    left: -60px; 
    font-family: 'Inter', sans-serif;
}